.test {
  text-align: center;
}

.tableau-header {
  text-align: left;
  margin-right: 150px;
  margin-left: 0px;
}

.pic-head {
  font-size: 30px;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

#test1 {
  float: left;
}
